/node_modules
/public/storage
/public/parser-ok
/public/parser
/storage/*.key
/storage/parser
/vendor
/.idea
/.vscode
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
composer.lock

/yarn.lock
/package-lock.json
